html                    { overflow-y:scroll; }
body                    { padding-top:50px; position: relative;}
#todo-table              { margin-bottom:30px; }

.fa-trash-alt {
  color: grey;
  &:hover {
    transform: scale(1.5);
    transition: 0.05s;
    color: darken(grey, 20%);
  }
  &:active {
    transform: scale(1.2);
    color: darken(grey,10%);
  }
}

ul.nav-pills {
  li {
  }

}

footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  position: absolute;
  top: 10px;
  left: 10%;
}


#todo-table {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  th {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 40px;
  }

  td {
  padding: 0 5px;
  }
  #todo-delete {
  }
}
.form-group {
  width: 100%;
}
.input-group {
  width: 100%;
}
.form-control {
  display: inline;
  width: 65%;
  &:last-of-type {
    width: 30%;
  }
}
